<html>

<head>
    <title></title>
</head>

<body>
    <div class='home-wrapper' align="center" id="contact">

        <div class='home-content'>

            <h1>Find A Movie!</h1>

            <form autocomplete="off" action="/postrequest" method="post">
                    <input style="width: 200px; height: 30px" type="text" id="name" name="name" placeholder="Enter Title" />
                    <br>
                    <input style="width: 200px; height: 30px; margin: 30px" type="submit" value="Go !" />
            </form>

        </div>

    </div>
</body>

</html>

<style type="text/css">

    html {
        font-family: 'Arial';
        background-color: #3f3f3f;
    }

    .home-wrapper {
        width: 100%;
        height: 100%;
        background-image: url("./background.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;

    }

    .home-content {
        padding-top: 30px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }



</style>