<html>
<head>
	<title>Movie Data</title>
</head>

	<body>
		
		<div class="content" align="center" style="">

			<h1><%= title %></h1>
			<img src=<%= "" + posterurl + "" %>>
			<h3><%= year %></h3>
			<h3><%= runtime %></h3>
			<h3>Genre: <%= genre %></h3>
			<h3>Director: <%= director %></h3>
			<h3 style="font-style: italic; width: 400px"><%= summary %></h3>

			<!-- back btn -->
			<form action="/" method="get">
				<input style="width: 200px; height: 100px; margin: 30px" type="submit" value="BACK" />
			</form>
			<!-- end -->

		</div>

	</body>
	
</html>

<style type="text/css">
	
	html {
		font-family: 'Arial';
		background-color: #3f3f3f;
	}

	img {
		box-shadow: 10px 10px 5px #888888;
	}

	.content {
		padding-top: 30px;
		background-color: #FFFFFF;
		margin: 0 auto;
		width: 500px;
		height: 100%;
	}
</style>